@model Quizzard.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Enter your email.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div>@Html.LabelFor(m => m.Email, new { @class = "control-label" })</div>
            <div>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-right">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>

}
