@using Mohawk.Jakab.Quizzard.Domain.Entities
@model List<Mohawk.Jakab.Quizzard.Services.Models.QuestionModel>
@if (Model.Any())
{
    foreach (var question in Model)
    {
        <div class="row">
            <div class="col-md-8 col-md-offset-2 question-card">
                
                <h4><small>@question.QuestionTypeId</small><br/>@question.QuestionText </h4>

                <div>
                    @foreach (var answer in question.Answers.OrderByDescending(x=>x.Correctness))
                    {
                        var answerIndicator = "label-default";
                        if (answer.Correctness > 50)
                        {
                            answerIndicator = "label-success";
                        }
                        else if (answer.Correctness == 50)
                        {
                            answerIndicator = "label-warning";
                        }

                        <label class="label @answerIndicator">(@answer.Correctness%) @answer.AnswerText</label>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 s-padding text-center">
            <h3>No questions in this quiz!</h3>
            <p>Use the <b>Actions</b> dropdown to add one</p>
        </div>
    </div>
}
