@using Microsoft.Ajax.Utilities
@model Mohawk.Jakab.Quizzard.Services.Models.QuizModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-xs-6">
                <h3>@Model.Title</h3>
                <small>Created On: @Model.CreatedOn</small>
                <br/>
                <small>Skill Level: @Model.SkillLevel</small>
            </div>
            <div class="col-xs-6 text-right header-margins">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="@Url.Action("ToggleDraftMode", new {id = Model.Id})">Enter Draft Mode</a></li>
                        <li><a href="@Url.Action("ArchiveQuiz", new {id = Model.Id})">Archive Quiz</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h4>Description</h4>
        @if (Model.Description.IsNullOrWhiteSpace())
        {
            <p>
                <i>
                    No Description Available
                </i>
            </p>
        }
        else
        {
            <p>@Model.Description</p>
        }


    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-left">
        <h4>Questions</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-right">
        <small>Question Count: @Model.Questions.Count()</small>
    </div>
</div>
<div id="questions">
    @{ Html.RenderPartial("_Questions", Model.Questions.ToList());}
</div>