@model Mohawk.Jakab.Quizzard.Services.Models.QuizModel
@using Quizzard.Web.Util
@{
                /**/



                ViewBag.Title = Model.Title;
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-bottom alert-warning text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <b>This quiz is in Draft Mode.</b>
            <br />
            No one can view it except you, until you save your changes and exit draft mode!
        </div>
    </div>

</div>


@using (Html.BeginForm("SaveQuiz", "Quiz", FormMethod.Post, new { @class = "form-horizontal", id = "main-draft-form" }))
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 left">
            <h3 class="inline">Edit Quiz</h3>

            <div class="pull-right inline header-margins">
                <button type="submit" class="btn btn-success inline">Save & Exit Draft Mode</button>
                <div class="dropdown inline">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a>Archive Quiz</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>@Html.LabelFor(x => x.Title, new { @class = "control-label" })</div>
            <div>@Html.TextBoxFor(x => x.Title, new { @class = "form-control" })</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>@Html.LabelFor(x => x.Description, new { @class = "control-label" })</div>
            <div>@Html.TextBoxFor(x => x.Description, new { @class = "form-control" })</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>@Html.LabelFor(x => x.SkillLevel, new { @class = "control-label" })</div>
            <div>@Html.TextBoxFor(x => x.SkillLevel, new { @class = "form-control" })</div>
            <div><small>A rough measurement of general knowledge recommended to play the quiz (i.e Grade 1, Grade 12)</small></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="inline">@Html.CheckBoxFor(m => m.Private, new { @class = "form-control form-control-checkbox" })</div>
            <div class="inline">@Html.LabelFor(m => m.Private, new { @class = "checkbox-text" })</div>
            <div><small>Psst... Private means only <b>logged in users</b> may play your quiz!</small></div>
        </div>
    </div>
    <br />

}


<div class="row">
    <div class="col-md-8 col-md-offset-2 page-header">
        <div class="row">
            <div class="col-xs-6">
                <h3>Questions</h3>
            </div>
            <div class="col-xs-6 text-right">
                @if (Model.DraftMode)
                {
                    <div class="dropdown header-margins pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Actions <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="pointer" id="add-question-answer-button" data-toggle="modal" data-target="#add-question-modal">Add Question</a></li>
                        </ul>
                    </div>
                }

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-right">
        <small>Question Count: @Model.Questions.Count()</small>
    </div>
</div>
<div id="questions">
    @{ Html.RenderPartial("_DraftQuestions", Model.Questions.ToList());}
</div>


<div id="add-question-modal" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog" id="add-question-modal-content">

    </div>
</div>

<div id="edit-question-modal" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Question<span class="close" data-dismiss="modal">&times;</span></h4>
            </div>
            <div id="edit-question-modal-content" class="modal-body"></div>
        </div>
    </div>
</div>
<script>
    function successCallback() {
        refreshQuestions();
    }

    function refreshQuestions() {
        $.ajax({
            url: '@Url.Action("RefreshQuizQuestions", new { id = Model.Id})',
            success: function(data) {
                $("#questions").html(data);
            }
        });
    }
    $(document).ready(function () {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        $("#submit-form").click(function() {
            $("#main-draft-form").submit();
        });
        $("#add-question-answer-button").click(function () {

            $.ajax({
                url: "@Url.Action("ChooseQuestionStore", new { quizId = Model.Id })",
                success: function(data) {
                    $("#add-question-modal-content").html(data);
                }
            })
        })

    });
</script>
<div class="alert-bottom-padding"></div>