@using Quizzard.Web.Areas.Questions.Controllers
@using Quizzard.Web.Models
@model Quizzard.Web.Models.Play

@{
    ViewBag.Title = Model.Quiz.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3>@Model.Quiz.Title</h3>
    <small>@Model.Quiz.SkillLevel</small>
    <p>@Model.Quiz.Description</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr />
    </div>
</div>
@using (Html.BeginForm("Play", "Quiz", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="@Html.NameFor(x=>x.Id)" id="@Html.IdFor(x=>x.Id)" value="@Model.Id"/>
    @Html.HiddenFor(x => x.QuizId)
    foreach (var partialView in Model.QuestionPartials)
    {
        using (Html.BeginCollectionItem("Answers")) {
            Html.RenderPartial("_ViewWrapper", partialView);
        }
    }
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center mt-10">
            <small>End of Quiz</small>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-right">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

}